/* Fonts block */

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/ptsans-400.woff2) format(woff2);
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
}

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
}

/* logo */
.main-page-welcome-logo {
    background-image: url(../images/pictures/Sedona-main.jpg);
    width: "1200";
    height: "485";
}

/* body */

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333;
    background-color: white;
}

/* header */

.page-header {
    background-color: #FFF;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

/* main */

.main-page {
    background-image: url(../images/pictures/Sedona-main.jpg);
    background-size: 1200px 450px;
    background-repeat: no-repeat;
}

/*Стилизация смысловых заголовков H2 уровня*/

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
}

/*Стилизация смысловых описаний H2 уровня*/

.description {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
}

/*Стилизация смысловых заголовков H3 уровня*/

.advantages-title,
.servises-title h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

/*Стилизация смысловых описаний H3 уровня*/
.advantags-description,
.servises-description p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

/*Стилизация блоков Преимущества И Услуги*/

.advantages-list,
.servises-list {
    list-style: none;
}

.advantages-item-city,
.advantages-item-devil {
    background-color: #82B3D3;
    padding: 103px 85px;
    width: 400;
    height: 385;
    color: #FFF;
}

.advantages-item-squere,
.advantages-item-tourists {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 103px 85px;
    width: 400;
    height: 385;
    color: #000;
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.20);
    padding: 103px 85px;
    width: 400;
    height: 385;
    color: #000;
}

.servises-item-house,
.servises-item-suvenirs {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 103px 85px;
    width: 400;
    height: 385;
    color: #000;
}

.servises-item-food {
    background-color: none;
    padding: 103px 85px;
    width: 400;
    height: 385;
    color: #000;
}

/* footer */ 





/* Разное */
/* одна из попыток стилизовать блоки
.advantages-list ul li:first-child {
    background-color: #82B3D3;
    padding: 103px 85px;
    width: 400;
    height: 385;
}
.advantages-list ul li:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 103px 85px;
    width: 400;
    height: 385;
}
.advantages-list ul li:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.20);
    padding: 103px 85px;
    width: 400;
    height: 385;
}
.advantages-list ul li:last-child {
    background-color: #82B3D3;
    padding: 103px 85px;
    width: 400;
    height: 385;
}*/
