/* Fonts block */

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* logo */



/* body */

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333;
    background-color: #FFF;
}

.clear-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* header */

.page-header {
    background: #FFF;
    color: #333;
}

.navigation-list {
    font-family: "PT Sans", sans-serif;
    color: inherit;
}

/*.navigation-link {
    font-family: "PT Sans", sans-serif;
    color: inherit;
}*/

.navigation-item {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}




/* main */

.main-page {
    background-image: url("../images/pictures/Sedona-main.jpg");
    background-size: 1200px 450px;
    background-repeat: no-repeat;
}

/*Стилизация смысловых заголовков H2 уровня*/

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
}

/*Стилизация смысловых описаний H2 уровня*/

.description {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
}

/*Стилизация смысловых заголовков H3 уровня*/

.advantages-title,
.servises-title h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

/*Стилизация смысловых описаний H3 уровня*/
.advantags-description,
.servises-description p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

/*Стилизация блоков Преимущества И Услуги*/
.item {
    padding: 103px 85px;
    width: 400px;
    height: 385px;
    color: #000;
}

.advantages-item-city,
.advantages-item-devil {
    background-color: #82B3D3;
    color: #FFF;
}

.advantages-item-squere,
.advantages-item-tourists {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.20);
}

.servises-item-house {
    background-color: rgba(131, 179, 211, 0.12);
    img: url("..//images/advantages-icons/icon-house.svg");
}

.servises-item-suvenirs {
    background-color: rgba(131, 179, 211, 0.12);
}

.servises-item-food {
    background-color: none;
}

/* footer */





/* Разное */
/* одна из попыток стилизовать блоки
.advantages-list ul li:first-child {
    background-color: #82B3D3;
    padding: 103px 85px;
    width: 400;
    height: 385;
}
.advantages-list ul li:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 103px 85px;
    width: 400;
    height: 385;
}
.advantages-list ul li:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.20);
    padding: 103px 85px;
    width: 400;
    height: 385;
}
.advantages-list ul li:last-child {
    background-color: #82B3D3;
    padding: 103px 85px;
    width: 400;
    height: 385;
}*/
