/* Fonts block */

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Общее выравнивание сайта */

html {
    height: 100%;
}

/* logo */

.navigation-logo {
    width: 140px;
}

/* body */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333;
    background-color: #FFF;
}

.clear-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* header */

.page-header {
    background: #FFF;
    color: #333;
}

/* Выравнивание меню */

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}

.navigation-logo {
    order: -1;
}

.navigation-list {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    width: 328px;
    margin: 0;
    padding: 20px 16px;
}

.navigation-user {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    width: 268px;
    margin: 0;
    padding: 20px 16px;
}

.navigation-item {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-link-current {
    text-decoration: underline;
}

/* main - общая стилизация главной страницы */

.page-container {
    margin: 0 auto;
    width: 1200px;
}

.main-container {
    flex-grow: 1;
}

/*Стилизация картинок и графики на главной странице*/

.welcome-picture {
    width: 1200px;
    height: 485px;
    background-image: url(/images/pictures/sedona-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #FFF;
    color: #333;
}

.description-item {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: #FFF;
    color: #333;
}

/*Стилизация смысловых заголовков H2 уровня*/

.main-logic-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

/*Стилизация смысловых описаний H2 уровня*/

.description-details {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
}

/*Стилизация смысловых заголовков H3 уровня*/

.list-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

/*Стилизация смысловых описаний H3 уровня*/

.list-description-details {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

/*Стилизация блоков Преимущества И Услуги*/
.items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 85px 103px;
    margin: 0;
    color: #000;
    width: 400px;
    height: 385px;
}

.advantages-item-city,
.advantages-item-devil {
    display: flex;
    background-color: #82B3D3;
    color: #FFF;
}

.advantages-item-squere,
.advantages-item-tourists {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.20);
}

.servises-item-house {
    background-color: rgba(131, 179, 211, 0.12);
}

.servises-item-suvenirs {
    background-color: rgba(131, 179, 211, 0.12);
}

.servises-item-food {
    background-color: none;
}

/*Фоновая картинка подписки по почте*/

.main-newslatter {
    width: auto;
    height: auto;
    padding: 96px 258px 104px 258px;
    background-image: url("/images/pictures/subscribe.jpg");
    background-position: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #FFF;
}

.newsletter-form {
    color: #FFF;
    text-align: center;
}

.newsletter-description {
    color: #FFF;
}

/* footer */

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 70px 40px 30px;
    width: 1060px;
    height: auto;
}

/* footer. Социальные сети */

.footer-social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}


/* Контакты */

.footer-contacts {
    display: flex;
    justify-content: center;
    width: 331px;
    height: 40px;
    flex-shrink: 0;
}

.footer-contacts-address-phone {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}

.site-production {

}

/* Catalog*/

.catalog-header-section {
    padding: 35px 70px 70px 70px;
    background-image: url("/images/pictures/catalog-page-background.png");
    background-color: #FFF;
    background-position: top;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hotel-list-total {
    text-align: left;
}

.product-price-range {
    text-align: left;
}

.product-price-range, .input ::-webkit-input-placeholder {
    text-align: right;
}

/* Разное */
