/* Font block */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Общие настройки сайта */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background: #f2f2f2;
  margin: 0;
}

/* Общая обертка сайта на всех страницах */
.page-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.clear-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Стилиация Заголовков и Текстов по сайту */

/*Стилизация Заголовков H1 уровня */
.catalog-main-header {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/*Стилизация Заголовков H2 уровня*/
.main-logic-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  word-break: break-all;
  margin: 0;
  padding: 0;
}

/*Стилизация Заголовков H3 уровня*/
.list-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  word-break: break-all;
  margin: 0;
  padding: 0;
}

/*Стилизация Заголовков H4 уровня*/
.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  word-break: break-all;
  margin: 0;
  padding: 0;
}

/*Стилизация описаний H2 уровня*/
.description-details {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
  word-break: break-all;
  margin: 0;
  padding: 0;
}

/*Стилизация описаний H3 уровня*/
.list-description-details {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-align: center;
  word-break: break-all;
  margin: 0;
  padding: 0;
}

/* Навигация по сайту - меню */
.navigation {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

/* Логотип */
.navigation-logo {
  width: 140px;
  height: 67px;
  margin-right: 30px;
  z-index: 1;
}

.navigation-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.navigation-attributes-list {
  display: flex;
}

.navigation-menu-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-link-main {
  display: block;
  padding: 20px 0;
  margin: 0 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  text-transform: capitalize;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.navigation-link-main:hover {
  color: #756157;
}

.navigation-link-main:focus {
  color: #756157;
  outline: none;
}

.navigation-link-main:active {
  color: #7561574d;
}

.navigation-link-current {
  text-decoration: none;
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  background-color: #756257;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: -2px;
  z-index: 1;
}

.navigation-link-attributes {
  display: block;
  padding: 22px 14px 22px 14px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
}

/* Иконки к меню */
.navigation-icon {
  min-width: 18px;
  min-height: 18px;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.navigation-search {
  background-image: url("../images/elements/icon-search.svg");
}

.navigation-favourites {
  background-image: url("../images/elements/icon-favoriets.svg");
  position: relative;
}

.favourites-number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  background: #7db54f;
  color: #ffffff;
  border-radius: 10px;
  font-family: inherit;
  font-size: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  position: absolute;
  top: 10px;
  right: 7px;
}

/* Стилизация кнопки Хочу Сюда! */
.navigation-button {
  min-width: 160px;
  padding: 8px 8px;
  margin-left: 16px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  border: none;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.navigation-button:hover {
  background-color: #615048;
  color: #ffffff;
}

.navigation-button:focus {
  background-color: #615048;
  color: #ffffff;
  outline: none;
}

.navigation-button:active {
  background-color: #756157;
  color: #ffffff4d;
}

.navigation-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Обертка Main на всех страницах */
.main-container {
  flex-grow: 1;
}

/*Векторный текст - приветствие*/
.main-page-welcome {
  display: flex;
  justify-content: center;
  background-image: url("../images/pictures/sedona-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b1867d;
  padding: 46px 371px 83px 371px;
  position: relative;
}

.main-page-welcome::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1203px;
  height: 57px;
  bottom: -2px;
  background-image: url("../images/elements/main-picture-decor-bottom.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}

.welcome-picture {
  display: block;
  min-width: 458px;
  align-items: center;
}

/* Стилизация промежуточных блоков на главной: информация и приглашение*/
.advantages-information {
  display: flex;
  flex-direction: column;
  padding: 72px 0 90px 0;
  gap: 25px;
}

.invitation-details {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  gap: 20px;
}

/*Стилизация блоков Преимущества И Услуги*/
.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list,
.servises-list {
  display: flex;
  flex-wrap: wrap;
}

.items-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  gap: 60px;
  box-sizing: border-box;
  padding: 103px 55px;
  margin-bottom: 0;
  overflow: hidden;
}

.picture-item {
  object-fit: cover;
}

/* Разделительный элемент */
.advantages-title {
  position: relative;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  bottom: -30px;
  left: 0;
  right: 0;
}

.items-picture-wrapper {
  display: flex;
}

/*Внутренние отступы в преимуществах и сервисе*/
.advantages-list-wrapper {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-wrapper:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-devil,
.advantages-item-city {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-devil .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-city .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-city * {
  color: #ffffff;
}

.advantages-item-devil * {
  color: #ffffff;
}

/* Иконки сервиса */
.servises-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 185px 55px 80px 55px;
  gap: 30px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.servises-list-wrapper:nth-child(even) {
  background-color: #ffffff;
}

.servises-list-wrapper::before {
  content: "";
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 0;
  right: 0;
  top: 78px;
  margin: auto;
}

.servises-item-house::before {
  background-image: url("../images/advantages-icons/icon-house.svg");
}

.servises-item-suvenirs::before {
  background-image: url("../images/advantages-icons/icon-suvenirs.svg");
}

.servises-item-food::before {
  background-image: url("../images/advantages-icons/icon-food.svg");
}

/*Вводная инфа о сервисе с кнопкой перехода*/
.catalog-details {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  gap: 20px;
}

/* Стилизация кнопки Заинтересовались? */
.catalog-search-button {
  width: 375px;
  min-height: 50px;
  padding: 8px 8px;
  margin-top: 35px;
  align-self: center;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  background: #756157;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.catalog-search-button:hover {
  background-color: #615048;
  color: #ffffff;
}

.catalog-search-button:focus {
  background-color: #615048;
  color: #ffffff;
  outline: none;
}

.catalog-search-button:active {
  background-color: #756157;
  color: #ffffff4d;
}
.catalog-search-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Подписка на рассылку*/
.main-newslatter,
.catalog-newslatter {
  display: flex;
  flex-direction: column;
  padding: 96px 130px 104px;
  gap: 20px;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

.main-newslatter {
  background-image: url("../images/pictures/subscribe.jpg");
  background-color: #756157;
  background-position: center;
  background-size: cover;
}

.newsletter-description {
  color: #ffffff;
}

/* Цвет Заголовка и Текста в подписке Каталога */
.catalog-newsletter-description {
  color: #000000;
}

.catalog-logic-title {
  color: #000000;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  margin-top: 33px;
}

.main-newslatter h2 {
  color: #ffffff;
}
/* в учебных целях использую класс и id */
.newsletter-form #newsletter-email {
  width: 452px;
  min-height: 52px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: 0;
  outline: none;
}

/* Стилизация кнопки Подписка */
.newsletter-submit-button {
  width: 232px;
  min-height: 52px;
  padding: 8px 50px;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: #82b3d3;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  word-break: break-all;
  cursor: pointer;
}

.newsletter-submit-button:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.newsletter-submit-button:focus {
  background-color: #68a2ca;
  color: #ffffff;
  outline: none;
}

.newsletter-submit-button:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.newsletter-submit-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 31px 70px 18px 70px;
}

/* footer. Соц. Сети */
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 142px;
  margin: 0;
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  min-height: 40px;
  padding: 2px 8px 10px 11px;
  box-sizing: border-box;
  background-position: center;
  outline: none;
  color: #83b3d3;
  cursor: pointer;
}

.footer-social-link:hover path {
  fill: #68a2ca;
}

.footer-social-link:focus path {
  fill: #68a2ca;
  outline: none;
}

.footer-social-link:active path {
  fill: #68a2ca4d;
}

/* Контакты */
.footer-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 50px;
}

.footer-contacts-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 331px;
}

.footer-contacts-address-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 331px;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration-line: none;
  cursor: pointer;
  outline: none;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-address-phone:active {
  color: #7561574d;
}

/* Произвдитель сайта */
.htmlacademy-link {
  display: inline-block;
  min-width: 115px;
  min-height: 34px;
  margin: 0;
  color: #000000;
  cursor: pointer;
  outline: none;
}

.htmlacademy-link:hover path {
  fill: #756157;
}

.htmlacademy-link:focus path {
  fill: #756157;
  outline: none;
}

.htmlacademy-link:active path {
  fill: #7561574d;
}

/* Catalog*/

/* Контейнер для фильтров и хлебных крошек */
.catalog-page-filters__wrap {
  padding: 35px 70px 68px 70px;
  background-image: url("../images/pictures/background-sedona-catalog.jpg");
  background-color: #756157;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.catalog-page-filters__title {
  width: 494px;
  margin: 0;
  margin-bottom: 8px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  word-break: break-all;
}

/* Хлебные крошки */
.breadcrumbs-list {
  display: flex;
  align-items: center;
}

.breadcrumbs-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  position: relative;
}

.breadcrumbs-list__link_home {
  width: 13px;
  height: 21px;
  padding-bottom: 2px;
  background-image: url("../images/breadcrumbs/icon-home.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  left: 4px;
}

.breadcrumbs-list__item:not(:last-child)::after {
  content: "";
  background-image: url("../images/breadcrumbs/icon-arrow.svg");
  background-repeat: no-repeat;
  padding: 5px 7px;
  margin-left: 25px;
  position: absolute;
  top: 5px;
  right: -25px;
}

.breadcrumbs-list__link_self {
  margin-left: 28px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 21px;
}

/* Фильтры каталога */

.filters {
  margin-top: 40px;
}

.filters__wrap {
  display: flex;
}

/* Блоки фильтров */
.filters-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 18px;
  color: #ffffff;
}

.filters-list__item {
  padding-left: 16px;
}

.filters-group__infrastructure .filters-list__input {
  margin-right: 16px;
}

.filters-group__housetype .filters-list__input {
  margin-right: 16px;
}

.filters-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

/* Отступы между элементами - фильтры */
.filters-group__infrastructure {
  margin-right: 70px;
}

.filters-list__control {
  position: relative;
  display: block;
  padding-left: 16px;
}

.control-item {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 30%;
  background-color: #ffffff;
  border: none;
  top: 0;
  left: -15px;
  cursor: pointer;
}

.control-label--round {
  border-radius: 50%;
}

.filters-list__control:hover {
  opacity: 0.6;
}

.filters-list__control:active {
  opacity: 0.3;
}

.filters-list__input:focus + .control-item {
  border-radius: 2px;
  outline: 4px solid #83b3d3;
}

.filters-list__input:focus + .control-label--round {
  border-radius: 50%;
  outline: 4px solid #83b3d3;
}

.filters-list__input[type="checked"]:disabled + .control-item {
  color: #0000004d;
}

.filters-list__input[type="radio"]:checked + .control-item::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #3f5e72;
  border-radius: 50%;
  top: 4px;
  left: 4px;
}

.filters-list__input[type="checkbox"]:checked + .control-item::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/elements/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Range от до */
.filters-group__price {
  margin-left: auto;
}

.range {
  display: flex;
  margin-top: 32px;
  margin-bottom: 36px;
}

.range input {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  border: 2px solid #f2f2f2;
  outline: none;
}

/* Стилизация раздела для Firefox браузера */
.range input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range input[type="number"] {
  -moz-appearance: textfield;
}

.range-form:hover {
  background: #e6e6e6;
  border-color: #f2f2f2;
}

.range-form:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range-form:active {
  border: 2px solid #000000;
}

.range-from {
  margin-right: 1px;
  border-radius: 4px 0 0 4px;
}

.range-to {
  margin-left: 1px;
  border-radius: 0 4px 4px 0;
}

.range label {
  position: relative;
}

.range span {
  position: absolute;
  content: "";
  top: 50%;
  right: 20px;
  min-width: 20px;
  min-height: 24px;
  transform: translateY(-50%);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

/* Range Стилизация декоративного элемента */
.range-scale {
  width: 287px;
  height: 4px;
  top: 6px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.range-scale__bar {
  width: 266px;
  height: 4px;
  background: #ffffff;
  position: absolute;
  z-index: 1;
}

.range-toggle {
  width: 20px;
  height: 20px;
  border-radius: 30%;
  border: none;
  outline: none;
  background-color: #ffffff;
  position: absolute;
  cursor: pointer;
}

.range-toggle:focus,
.range-toggle:active {
  outline: 3px solid #83b3d3;
  box-shadow: 0 2px 3px 4px #000000;
}

.range-toggle--min {
  top: -6px;
  left: 0;
}

.range-toggle--max {
  top: -6px;
  right: -2px;
}

/* Стилизация кнопок в фильтрах */
.filters-group__battons {
  display: flex;
  flex-direction: column;
  min-width: 191px;
  margin-left: 70px;
  margin-top: 55px;
  gap: 32px;
}

.filters-group-button__submit,
.filters-group-button__reset {
  width: 191px;
  min-height: 36px;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: none;
  color: #ffffff;
}

/* Кнопка - Применить */
.filters-group-button__submit {
  background-color: #82b3d3;
}

.filters-group-button__submit:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.filters-group-button__submit:focus {
  background-color: #68a2ca;
  color: #ffffff;
  outline: none;
}

.filters-group-button__submit:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.filters-group-button__submit:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Кнопка - Сбросить */
.filters-group-button__reset {
  background-color: transparent;
}

.filters-group-button__reset:hover {
  color: #ffffff4d;
}

.filters-group-button__reset:focus {
  border: 3px solid #83b3d3;
  color: #ffffff;
  outline: none;
}

.filters-group-button__reset:active {
  color: #ffffff4d;
}

.filters-group-button__reset:disabled {
  color: #ffffff4d;
}

/* Общий контейнер для сортировки и типа отображения*/
.hotels-sections-container {
  display: grid;
  gap: 40px;
  padding: 50px 70px 60px 70px;
}

/* Общий блок */
.hotels-sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 48px;
}

/* Найдено всего  */
.hotels-total {
  display: block;
}

/* Сортировка от большего к меньшему */
.sorting-view-container {
  display: flex;
  justify-content: space-between;
  min-width: 522px;
  height: 48px;
}

.select-control {
  display: flex;
  align-items: center;
  min-width: 292px;
  height: 48px;
  padding: 5px 30px 0 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  background: #ffffff;
}

.select-icon {
  background-image: url("../images/elements/cheaper-array.svg");
  background-repeat: no-repeat;
  background-position: 94% 50%;
  cursor: pointer;
  appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  opacity: 30%;
}

/* Тип отображения карточек на странице */
.cards-view-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

.cards-view-item {
  display: flex;
}

.cards-view {
  display: inline-block;
  min-width: 48px;
  min-height: 48px;
  padding: 14px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  cursor: pointer;
}

.cards-view:hover {
  border-color: #000000;
}

.cards-view:focus {
  border-color: #68a2ca;
  outline: none;
}

.cards-view:active {
  border-color: #000000;
}

.cards-table {
  background-image: url("../images/elements/cards-table.svg");
}

.cards-slideshow {
  background-image: url("../images/elements/cards-slideshow.svg");
}

.cards-list {
  background-image: url("../images/elements/cards-list.svg");
}

.cards-view--current {
  border-color: #000000;
}

/* Каталог и карточки отелей */
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto 1fr auto auto;
  justify-self: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 16px;
  padding: 21px 18px 18px 19px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
  color: #000000;
}

.hotel-card-image {
  display: flex;
  background-size: contain;
}

.hotel-card-title {
  grid-column: 1 / -1;
  text-transform: none;
  text-align: start;
  align-self: start;
}

.hotel-type {
  text-align: start;
}

.price-per-night {
  text-align: end;
}

/* Кнопки в Отелях */
.holet-card-button {
  display: flex;
  min-height: 37px;
  margin: 0;
  padding: 7px 7px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

/* Кнопка -> Подробнее */
.button-more {
  background-color: #756157;
}

.button-more:hover {
  background-color: #615048;
  color: #ffffff;
}

.button-more:focus {
  background-color: #615048;
  color: #ffffff;
  outline: none;
}

.button-more:active {
  background-color: #756157;
  color: #ffffff4d;
}

.button-more:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Кнопка -> В избранное */
.button-favourite {
  background-color: #82b3d3;
}

.button-favourite:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.button-favourite:focus {
  background-color: #68a2ca;
  color: #ffffff;
  outline: none;
}

.button-favourite:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.button-favourite:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Кнопка -> В избранном */
.favourite-added {
  background-color: #7db54f;
}

.favourite-added:hover {
  background-color: #6c9e42;
  color: #ffffff;
}

.favourite-addedfocus {
  background-color: #6c9e42;
  color: #ffffff;
  outline: none;
}

.favourite-added:active {
  background-color: #7db54f;
  color: #ffffff4d;
}

.favourite-added:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Рейтинг */
.hotel-card-rating {
  min-height: 37px;
  margin: 0;
  padding: 8px 17px 8px 17px;
  box-sizing: border-box;
  grid-column-end: -1;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
}

/* Стилизация звезд */
.stars {
  background-image: url("../images/elements/icon-star.svg");
  background-repeat: space;
  height: 17px;
  align-self: center;
  justify-self: start;
}

.stars__1 {
  width: 21px;
}

.stars__2 {
  width: 42px;
}

.stars__3 {
  width: 67px;
}

.stars__4 {
  width: 89px;
}

.stars__5 {
  width: 109px;
}

/* Пагинация */
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 8px;
  position: relative;
}

.pagination-list::before {
  content: "";
  position: absolute;
  background-color: #E6E6E6;
  width: 1060px;
  padding: 1px;
  bottom: 100px;
  top: -42px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82b3d3;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.pagination-link:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.pagination-link:focus {
  background-color: #68a2ca;
  color: #ffffff;
  outline: none;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: #ffffff;
  opacity: 30%;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-next {
  color: #000000;
  background-color: transparent;
  padding: 16px 0 18px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* Модальное окно на Grid */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: flex;
  margin: auto;
  z-index: 1;
}

.modal-container--hidden {
  display: none;
}

.modal-container__content {
  align-self: center;
  justify-self: center;
  min-width: 717px;
  min-height: 576px;
  margin: auto;
  padding: 64px 70px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #ffffff;
  position: relative;
}

/* Кнопка закрыть попап */
.modal-container__close--button {
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  content: "close";
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  top: 65px;
  right: 50px;
}

.modal-container__close--button:hover {
  background-color: #e6e6e6;
}

.modal-container__close--button :focus {
  background-color: #e6e6e6;
  outline: 2px solid #83b3d3;
}

.modal-container__close--button:active {
  background-color: #e6e6e6;
  color: #000000;
  opacity: 0.3;
}

/* Стилизация заголовков и текстов в модальном окне*/
.modal-container__title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  margin: 0;
  margin-bottom: 64px;
}

.container__form__title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  align-self: center;
}

.container__form__field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  outline: none;
}

.container__form__field:hover {
  background-color: #e6e6e6;
  border: 3px solid #e6e6e6;
}

.container__form__field:focus {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.container__form__field:active {
  color: #000000;
  border: 2px solid #000;
  background-color: #f2f2f2;
}

.container__form__description {
  grid-column: 2 / -1;
  margin: 0;
  margin-top: 2px;
  padding: 1px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-align: left;
}

.container__form--exception {
  color: #ff5757;
}

/* Grid */
.modal-container__form {
  display: grid;
  grid-template-columns: 247px 242px;
  grid-template-rows: repeat(4, auto);
  width: 577px;
  row-gap: 23px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.container__form--checkin {
  grid-column: 1 / -1;
}

.container__form--checkout {
  grid-column: 1 / -1;
}

/* Стилизация Даты Заезд-Выезд */
.container__form__group {
  display: grid;
  grid-template-columns: 120px 440px;
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.container__form__title {
  grid-column: 1 / 2;
}

.container__form__field {
  grid-column: 2 / -1;
}

.form__field--subject {
  min-width: 440px;
  min-height: 48px;
  box-sizing: border-box;
  padding: 7px 19px 7px 19px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

/* Стилизация Больше-Меньше */
.container__number__group {
  display: grid;
  grid-template-columns: 125px 110px;
  min-height: 48px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.container__form--children .container__form__count {
  justify-self: end;
}

.container__form__count {
  width: 110px;
  margin: 0;
  padding: 0;
  position: relative;
}

.form__field--number {
  width: 110px;
  min-height: 48px;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container__form--more {
  display: flex;
  align-self: center;
  position: absolute;
  content: "more";
  top: 14px;
  right: 6px;
  border: none;
  outline: none;
}

.container__form--more:hover path {
  fill: #000000;
}

.container__form--more:focus svg {
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

.container__form--more:focus path {
  fill: #000000;
}

.container__form--more:active path {
  fill: rgba(0, 0, 0, 1);
}

.container__form--less {
  position: absolute;
  content: "less";
  top: 14px;
  left: 6px;
  border: none;
  outline: none;
}

.container__form--less:hover path {
  fill: #000000;
}

.container__form--less:focus svg {
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

.container__form--less:focus path {
  fill: #000000;
}

.container__form--less:active path {
  fill: rgba(0, 0, 0, 1);
}

/* Календарь */
button.container__form--icon {
  position: absolute;
  content: "calendar";
  opacity: 0.3;
  width: 20px;
  height: 20px;
  padding: 3px;
  border: none;
  outline: none;
  top: 14px;
  right: 20px;
}

button.container__form--icon:hover path {
  fill: #000000;
  opacity: 1;
}

button.container__form--icon:focus {
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

/* Кнопка в попапе - Найти */
.search__button {
  grid-column: 1 / -1;
  width: 578px;
  min-height: 60px;
  margin: 0;
  margin-top: 25px;
  padding: 0 60px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.search__button:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.search__button:focus {
  background-color: #68a2ca;
  color: #ffffff;
  outline: none;
}

.search__button:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.search__button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

/* Стилизация тултипа */

.tooltip {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 11px;
  left: 61px;
}

.tooltip-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  cursor: pointer;
}

.tooltip-text {
  background-color: #333333;
  text-align: left;
  color: #fff;
  min-width: 256px;
  padding: 21px 18px 21px 22px;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  content: "";
  top: 21px;
  left: -114px;
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  background-image: url("../images/elements/triangle.svg");
  position: absolute;
  content: "";
  bottom: 100%;
  left: 117px;
  right: 0;
  width: 19px;
  height: 9px;
  margin-left: 0;
  margin-right: 0;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
